<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Prestamo</div>
    <div class="panel-body">
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="nuevoPrestamo()">Nuevo Prestamo</button>
        </div>
        <table class="resultados table table-striped">
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Observación
                </th>
                <th>
                    estado
                </th>
                <th>
                    Dias
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Libro
                </th>
                <th>
                    Multa
                </th>
                <th>
                    <input class="form-control" ng-model="q"  placeholder="Buscar"/>
                </th>
            </tr>
            <tr dir-paginate="row in listaP|filter: q|itemsPerPage:10">
                <td>{{row.date.getDate() + "/" + row.date.getMonth() + "/" + row.date.getFullYear()}}</td>

                <td>{{row.observation}}</td>

                <td>{{row.state}}</td>

                <td>{{row.days}}</td>

                <td class="row">{{row.client.name}}</td>   
                <td class="row">{{row.book.title}}</td>

                <td>{{row.fine}}</td>

                <td class="row">
                    <button type="button" class="btn btn-default" ng-click="editar(row)">
                        <span class="glyphicon glyphicon-pencil"></span>Editar
                    </button>
                    <button type="button" class="btn btn-default" ng-click="eliminar(row)">
                        <span class="glyphicon glyphicon-remove"></span>Eliminar
                    </button>
                </td>
            </tr>
        </table>
        <div dir-pagination-controls></div>
        <br/>
    </div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Prestamo</div>
    <div class="panel-body">

        <div class="form-group col-md-6" ng-class="errores.date ? 'error' : ''">
            <label for="Fecha">Fecha</label>
            <input id="Fecha" 
                   class="form-control" 
                   type="date"
                   ng-model="datosFormularioPrestamo.fecha"
                   placeholder="fecha"/>
            <div ng-show="errores.fecha">{{errores.fecha}}</div>
        </div>
        <div class="form-group col-md-6" ng-class="errores.observation ? 'error' : ''">
            <label for="Fecha">Observación</label>
            <input id="observation" 
                   class="form-control" 
                   type="text"
                   ng-model="datosFormularioPrestamo.observation"
                   placeholder="observation"/>
            <div ng-show="errores.observation">{{errores.observation}}</div>
        </div>
        <div class="form-group col-md-6" ng-class="errores.estado ? 'error' : ''">
            <label for="Fecha">estado</label>
            <select id="estado" class="form-control" 
                    ng-model="datosFormularioPrestamo.estado"
                    ng-options="option for option in listaEstados track by option">
            </select>
            <div ng-show="errores.estado">{{errores.estado}}</div>
        </div>
        <div class="form-group col-md-6" ng-class="errores.dias ? 'error' : ''">
            <label for="dias">Dias</label>
            <input id="dias" 
                   class="form-control" 
                   type="number"
                   ng-model="datosFormularioPrestamo.dias"
                   placeholder="dias"
                   min="1" max="20"/>
            <div ng-show="errores.dias">{{errores.dias}}</div>
        </div>				
        <div class="row">
            <div class="form-group col-md-6" ng-class="errores.cliente ? 'error' : ''">
                <label>Cliente</label>
                <select id="cliente" class="form-control" 
                        ng-model="datosFormularioPrestamo.cliente"
                        ng-options="option.name for option in listaCliente track by option.id">
                </select>
                <div ng-show="errores.cliente">{{errores.cliente}}</div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6" ng-class="errores.libro ? 'error' : ''">
                <label>Libro</label>
                <select id="libro" class="form-control" 
                        ng-model="datosFormularioPrestamo.libro"
                        ng-options="option.title for option in listaLibro track by option.id">
                </select>
                <div ng-show="errores.libro">{{errores.libro}}</div>
            </div>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="guardarPrestamo()">Aceptar</button>
            <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
        </div>    
    </div>
</div>

